<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar">
	<div class="menu-list">
		<nav class="navbar navbar-light">
			<!-- <a class="d-xl-none d-lg-none" href="#">Dashboard</a> -->
			<ul class="navbar-nav flex-column">
				<li class="nav-divider"><i class="fas fa-bars"></i><span class="menu-text d-none">DASHBOARD</span></li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">
						<i class="fas fa-home"></i><span class="nav-link-text d-none ">DASHBOARD</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/users">
						<i class="fas fa-user"></i><span class="nav-link-text d-none">USERS</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/devicereport">
						<i class="fas fa-tablet"></i></i><span class="nav-link-text d-none">DEVICES</span>
					</a>
				</li>
				
				
				
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/get_doc_msgs">
						<i class="fas fa-users"></i></i><span class="nav-link-text d-none">Devices Status</span>
					</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/logout">
						<i class="fas fa-times"></i></i><span class="nav-link-text d-none">LOGOUT</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->

<script>

	jQuery(document).ready(function ($) {
		
	})

</script>