/* Haaris Css */

*{
  font-family: 'Avenir';
}

#chartdiv11 {
  float: left;
  margin: 0 20px 20px 0;
  width: 350.13pt;
  height:165pt;
}

#chartdiv12 {
  float: left;
  margin: 0 20px 20px 0;
  width: 350.13pt;
  height:165pt;
}


  .ldBar path.mainline {
    stroke-width: 10;
    stroke: #006ab1;
    stroke-linecap: round;
    
  }
  .ldBar path.baseline {
    stroke-width: 11;
    stroke: #d4d4d4;
    stroke-linecap: round;
  }

  .ldBar-label {
    
    
    text-align: center;
    font-size: 10pt;
    padding-bottom: 50pt;
  }


.checked {
  color: #0069B1 !important;
}


.unchecked {
  color:#D4D4D4 !important;
}

    th,td{

      padding-top:2px;
        padding-bottom:2px;
        text-align: center;
    }

.header {

  height: 10pt;
  width: 100%;
  background-color: #062444 !important;
  position: relative;

}

    .page {
        width: 100%;
        min-height: 29.7cm;
        
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }



@page {
  size: A4;
  margin: 0;
}

@font-face {
  font-family: 'Avenir';
  src: url("Avenir Roman.otf") format("opentype");


}

@font-face {
 
  font-family: 'Helvetica';
  src: url("HelveticaNeue-Regular.otf") format("opentype");



}
@font-face {
 

  font-family: 'Avenir-heavy';
  src: url("avenir-heavy.otf") format("opentype");

}
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
      -webkit-print-color-adjust: exact;
        }
    }



